@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BebasNeue";
  src: url("/fonts/BebasNeue-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
